---

---

<span
  class="bg-primary-100 text-primary-500 shadow-base-200/20 dark:bg-primary-500 mb-4 inline-block rounded-full px-2 py-px text-xs leading-5 font-medium uppercase shadow-sm dark:text-white dark:shadow-none"
>
  <slot />
</span>
