---
import Dots from "@tabler/icons/outline/dots.svg";
import type { HTMLAttributes } from "astro/types";
import { tv } from "tailwind-variants";

type Props = HTMLAttributes<"span">;

export const paginationEllipsis = tv({ base: "flex h-9 w-9 items-center justify-center" });

const { class: className, ...rest } = Astro.props;
---

<span
  aria-hidden
  class={paginationEllipsis({ class: className })}
  data-slot="pagination-ellipsis"
  {...rest}
>
  <Dots class="size-4" />
  <span class="sr-only">More pages</span>
</span>
